
<% @posts.each do |post| %>
  <div class="allpost">
    <p id="post"><strong><%= post.user.email %> : </strong></u><%= post.message %></p>
    <% if Like.find_by(post: post, user: current_user) %>
      <%= link_to 'Unlike', unlike_post_path(post), remote: true, method: :delete %>
    <% else %>
      <%= link_to 'Like', like_post_path(post), remote: true, method: :post %>
    <% end %>
    
    <% if Relationship.find_by(following_id: post.user, follower_id: current_user) %>
      <%= link_to 'Unfollow', unfollow_post_path(post), remote: true, method: :delete %>
    <% else %>
      <%= link_to 'Follow', follow_post_path(post), remote: true, method: :post %>
    <% end %>

  </div>
<% end %>