
<% @posts.each do |post| %>
  <div class="allpost">
    <p id="post"><strong> <%= image_tag post.user.particular.image, width: "50px" if post.user.try(:particular).try(:image) %> <%= link_to post.user.username, user_path(post.user) %> : </strong></u><%= post.message %></p>
    <% if Like.find_by(post: post, user: current_user) %>
      <%= link_to 'Unlike', unlike_post_path(post), remote: true, method: :delete %>
    <% else %>
      <%= link_to 'Like', like_post_path(post), remote: true, method: :post %>
    <% end %>
    
    <% if Relationship.find_by(following_id: post.user, follower_id: current_user) %>
      <%= link_to 'Unfollow', unfollow_post_path(post), remote: true, method: :delete %>
    <% else %>
      <%= link_to 'Follow', follow_post_path(post), remote: true, method: :post %>
    <% end %>

    <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm:"Are you sure?"} if post.user == current_user %>

  </div>
  <hr>
<% end %>

