<div class= "front_end_overlap">
  <div class= "front-bg"><h1>Welcome to Friendz</h1></div>
  
<% @hashtags.each do |hashtag| %>
    <p><strong>#<%= link_to hashtag.tag, posts_path %> : </strong><%= @posthashs.where(hashtag_id: hashtag).count %></p>

<% end %>


<div class= "wrapper_buttons">

  <%= link_to "My profile page", current_user , { :class=>"btn btn-primary btn-lg active 1" }  %>
  <a href="/posts/new" class="btn btn-primary btn-lg active 2" role="button" aria-pressed="true" >New Post</a>
  <a href="/posts/show" class="btn btn-primary btn-lg active 3" role="button" aria-pressed="true">My Posts</a>
</div>
  </div>
<hr>
<div id="posts">
  <%= render partial: "post" %>
</div>
<%= will_paginate @posts %>
