<!DOCTYPE html>
<html>
  <head>
    <title>Friendz</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>
    
    <% if current_user %>
      <%= link_to image_tag('logo.jpg', width: "8%"), posts_path %>
      Saluations ! <%= current_user.username %>
      <%= link_to('log out' , destroy_user_session_path , method: :delete) %>
      <%= link_to('Master reset' , edit_user_registration_path) %>
    <% else %>
      <%= link_to('register' , new_user_registration_path) %>
      <%= link_to('log in' , new_user_session_path) %>
    <% end %>


    <%= yield %>

  </body>
</html>
